@model GameStore.Web.ViewModels.OrderViewModels.DetailsOrderViewModel

@{
    ViewBag.Title = "Заказ №" + Model.OrderId;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h2>@ViewBag.Title</h2>
    <dl class="dl-horizontal">
        <dt>
            ФИО
        </dt>

        <dd>
            @Model.LastName @Model.FirstName @Model.MiddleName
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>
        @if (Model.Comment != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Comment)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Comment)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
    <div class="table-responsive">
        <table class="table">
            <tr class="text-center">
                <th class="text-left">№</th>
                <th>
                    @Html.DisplayNameFor(x => x.OrderDetails[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(x => x.OrderDetails[0].QuantityInCart)
                </th>
                <th>
                    @Html.DisplayNameFor(x => x.OrderDetails[0].Price)
                </th>
                <th class="text-right">
                    Сумма
                </th>
            </tr>
            @for (var i = 0; i < Model.OrderDetails.Count; i++)
            {
                <tr class="text-center">
                    <td class="text-left">@(i + 1)</td>
                    <td class="text-left">@Html.ActionLink(Model.OrderDetails[i].Name, "Index", "Product", new { id = Model.OrderDetails[i].ProductId }, null)</td>
                    <td>@Model.OrderDetails[i].QuantityInCart</td>
                    <td>@Model.OrderDetails[i].Price грн</td>
                    <td class="text-right">@(Model.OrderDetails[i].QuantityInCart * Model.OrderDetails[i].Price) грн</td>
                </tr>
            }

            <tr>
                <td colspan="5" class="text-right">Всего - <span class="price">@Model.OrderDetails.Sum(x => x.Price * x.QuantityInCart) грн</span></td>
            </tr>
        </table>
    </div>

    @if (Model.LiqPayCheckoutFormModel != null)
    {
        <form method="POST" accept-charset="utf-8" action="https://www.liqpay.ua/api/3/checkout">
            <input type="hidden" name="data" value="@Model.LiqPayCheckoutFormModel.Data" />
            <input type="hidden" name="signature" value="@Model.LiqPayCheckoutFormModel.Signature" />
            <button style="border: none !important; display:inline-block !important;text-align: center !important;padding: 7px 20px !important;
                                      color: #fff !important; font-size:16px !important; font-weight: 600 !important; font-family:OpenSans, sans-serif; cursor: pointer !important; border-radius: 2px !important;
                                      background: rgb(122,183,43) !important;" onmouseover="this.style.opacity='0.5';" onmouseout="this.style.opacity='1';">
                <img src="https://static.liqpay.ua/buttons/logo-small.png" name="btn_text"
                     style="margin-right: 7px !important; vertical-align: middle !important;" />
                <span style="vertical-align:middle !important">Оплатить</span>
            </button>
        </form>

    }
</div>
