
@model GameStore.Web.Areas.Admin.ViewModels.ProductViewModel.IndexProductViewModel
@{
    ViewBag.Title = "Товары";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="d-flex justify-content-between align-items-center my-3">
    <h2>@ViewBag.Title</h2>
    @Html.ActionLink("Добавить", "Create", new { area = "Admin" }, htmlAttributes: new { @class = "btn btn-primary" })
</div>
@using (Ajax.BeginForm("GetProducts", new AjaxOptions { UpdateTargetId = "products" }))
{
<div class="d-flex align-items-center ">
    <div class="form-check col col-md-4">
        <label class="form-check-label">
            <input class="form-check-input" name="includeDeleted" type="checkbox" id="AjaxChangeSubmit" value="true" />
            Только удаленные
        </label>
    </div>

    <div class="form-group col-md-4 ">
        @Html.Editor("search", new { htmlAttributes = new { @class = "form-control", id = "ajax__change__submit", placeholder = "Поиск..." } })

    </div>

    <div class="form-group col-md-4">
        @Html.DropDownList("categoryId", Model.Categories, "Все", new { @class = "form-control", id = "ajaxSelectSubmit" })
    </div>
</div>
    <div id="products">
        @Html.Partial("_Products", Model)
    </div>
}

