@model GameStore.Web.Areas.Admin.ViewModels.SupplyViewModels.DetailsSupplyViewModel

@{
    ViewBag.Title = $"Поставка №{Model.SupplyId}";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="d-flex align-items-center my-3">
    <h2>@ViewBag.Title</h2>
</div>

<div>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Supplier.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Supplier.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplyDate)
        </dt>

        <dd>
            @Model.SupplyDate.ToString("dd.MM.yyyy HH:mm")
        </dd>

    </dl>
</div>
<div class="">
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.SupplyProductViewModels[0].Name)</th>
            <th>@Html.DisplayNameFor(model => model.SupplyProductViewModels[0].Quantity)</th>
            <th class="text-right">@Html.DisplayNameFor(model => model.SupplyProductViewModels[0].Price)</th>
        </tr>

        @foreach (var supplyProduct in Model.SupplyProductViewModels)
        {
    <tr>
        <td>@Html.ActionLink(supplyProduct.Name, "Index", "Product", new { Area = string.Empty, id = supplyProduct.ProductId }, new { })</td>

        <td>@supplyProduct.Quantity</td>
        <td class="text-right">@supplyProduct.Price</td>
    </tr>
        }
        <tr>
            <td class="text-right" colspan="3">Сумма - <span class="font-weight-bold">@Model.SupplyProductViewModels.Sum(x => x.Price * x.Quantity) грн</span></td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Назад", "Index", null, new { @class = "btn btn-secondary" })
</p>
