<footer class="page-footer font-small mdb-color pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Footer links -->
        <div class="row text-center text-md-left mt-3 pb-3 text-white">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">GameStore</h6>
                <p>
                    Добро пожаловать в наш интернет магазин по продаже видеоигр, консолей, и аксесуарам. Здесь вы сможете найти все что нужно для геймера!
                </p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Товары</h6>
                <p>
                    <a href="@Url.Action("Index", "Products", new {category = "Игры на Playstation 4" })" class="link-decoration">Игры на Playstation 4</a>
                </p>
                <p>
                    <a href="@Url.Action("Index", "Products", new {category = "Игры на ПК" })" class="link-decoration">Игры на ПК</a>
                </p>
                <p>
                    <a href="@Url.Action("Index", "Products", new {category = "Игры на Xbox One" })" class="link-decoration">Игры на Xbox One</a>
                </p>
                <p>
                    <a href="@Url.Action("Index", "Products", new {category = "Игры на Nintendo Switch" })" class="link-decoration">Игры на Nintendo Switch</a>
                </p>

            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Полезные ссылки</h6>
                <p>
                    <a href="@Url.Action("Index", "Profile")" class="link-decoration">Профиль</a>
                </p>
                <p>
                    <a href="@Url.Action("Index", "Products")" class="link-decoration">Все товары</a>
                </p>
                <p>
                    <a href="@Url.Action("PaymentDeliveryInfo", "Home")" class="link-decoration">Оплата и доставка</a>
                </p>
                <p>
                    <a href="@Url.Action("About", "Home")" class="link-decoration">О нас</a>
                </p>
            </div>

            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Контакты</h6>
                <p>
                    <i class="fa fa-home mr-3"></i> Харьков, NY 10012, UK
                </p>
                <p>
                    <i class="fa fa-envelope mr-3"></i> gamestore@gmail.com
                </p>
                <p>
                    <i class="fa fa-phone mr-3"></i> + 380 099 2560 048
                </p>
                <p>
                    <i class="fa fa-print mr-3"></i> + 380 068 2560 048
                </p>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Footer links -->

        <hr>

        <!-- Grid row -->
        <div class="row d-flex align-items-center text-white">

            <!-- Grid column -->
            <div class="col-md-7 col-lg-8 ">

                <!--Copyright-->
                <p class="text-center text-md-left">
                    © 2020 Все права защищены: Цокота Илья
                </p>

            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-5 col-lg-4 ml-lg-0">

                <!-- Social buttons -->
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1 circle-link">
                                <i class="fa fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1 circle-link">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1 circle-link">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1 circle-link">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

</footer>
