<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Error.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/slick/slick-theme.css" />
    @Styles.Render("~/main/css")
    @RenderSection("Styles", required: false)
</head>
<body>
    @Html.Partial("~/Views/Shared/_Header.cshtml")
    <main>

        @RenderBody()

    </main>
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
    <!-- Footer -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery-migrate-3.3.0.min.js")
    @Scripts.Render("~/Content/slick/slick.js")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")

    @Scripts.Render("~/bundles/mainJs")
    @RenderSection("scripts", required: false)
</body>
</html>
